.container {
    width: 1200px;
    margin: px auto;
    columns: 4;
    column-gap: 20px;
}

.box{
    width: 250px;
    padding: 20px;
    background-color: #f1f1f1;
    border:1px dargrey;
    margin-bottom: 10px;
    break-inside: avoid;
    text-align: justify;
 }

.box img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}