
.box-card {
    width: 250px;
    height: 410px;
    background: #CCCCFF;
    padding: 15px ;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px ;
}

.box-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 2.5% ;
}

.media-icons a {
    padding-inline: 10px;
    text-decoration: none;
    font-size:26px;
}

.media-icons i {
    color: black;
}