* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

body {
    margin: 10px;
    padding: 10px;
    background: linear-gradient(to right, rgba(86, 173, 231, 0.37), rgb(99, 245, 99));
}

.calculator {
    display: grid;
    justify-content: center;
    align-items: content;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid green;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .row1 {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .row2 {
    color: white;
    font-size: 2.5rem;
}